h1 {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
    text-align: center;
    font-size: 100px;
    color: Khaki
  }

.price{
  color: blue;
  font-weight: bold;
  font-family: Helvetica;
}

.item h2 {
    color: white;
    font-size: 32px;
}

h1, h2, h3, p {
    font-family: Helvetica;
}

  #brushes {
    background-color: MediumSpringGreen;
}

#frames {
    background-color: LightCoral;
}

#paint {
  background-color: skyblue;
}
